@page
@model Coders_Airlines.Pages.Admin.AdminDashboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}


<h1>Hello Admin</h1>

<h3>Start Modifying things....</h3>
<div><a asp-page="/Cars/Index">Cars</a></div>
<div><a asp-page="/Apartments/Index">Apartments</a></div>
<div><a asp-page="/Flights/Index">Flights</a></div>
<br />
<div><a asp-page="/Admin/RentedCars/AdminCarRental">Rented Cars List</a></div>
<div><a asp-page="/Admin/RentedApartments/AdminApartmentRental">Rented Apartments List</a></div>
<div><a asp-page="/Admin/BookedFlights/AdminFlightBookingList">Booked Flights List</a></div>