
@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Coders_Airlines.Pages.Cars.CreateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Name" class="control-label"></label>
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ModelYear" class="control-label"></label>
                <input asp-for="Car.ModelYear" class="form-control" />
                <span asp-validation-for="Car.ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Type" class="control-label"></label>
                <select asp-for="Car.Type" class="form-control">
                    <option value="0">CompactSedan</option>
                    <option value="1">Sedan</option>
                    <option value="2">Hatchback</option>
                    <option value="3">SUV</option>
                </select>
                <span asp-validation-for="Car.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.FuelType" class="control-label"></label>
                <select asp-for="Car.FuelType" class="form-control">
                    <option value="0">Gasoline</option>
                    <option value="1">Hybrid</option>
                    <option value="2">Electric</option>
                </select>
                <span asp-validation-for="Car.FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RentalCost" class="control-label"></label>
                <input asp-for="Car.RentalCost" class="form-control" />
                <span asp-validation-for="Car.RentalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.City" class="control-label"></label>
                <input asp-for="Car.City" class="form-control" />
                <span asp-validation-for="Car.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Car.Thumbnail" class="control-label"></label>
                <input asp-for="Car.Thumbnail" class="form-control" />
                <span asp-validation-for="Car.Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
